*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Signika', sans-serif;
    text-align: center;
}

img
{
    width: 100%;
}

.container
{
    margin: 5px auto;
    box-sizing: border-box;
    padding: 5px;
}

.col
{
    display: flex;
    padding: 9.5px;
    gap: 20px;
}

.col a
{
    text-decoration: none;
    color: orangered;
}

.sidebar
{
    flex: 1;
}

aside
{
    flex: 1;
    padding: 120px 0;
    border-radius: 5px;
}

main
{
    flex: 1;
    padding: 120px 0;
    border-radius: 5px;
    margin-top: 15px;
}

nav
{
    flex: 1.3;
    padding: 120px 0;
    border-radius: 5px;
}

.kiri-atas
{
    background-image: url("foto/fotopawas.JPG");
    background-size: cover;
    background-position: center;
    font-size: 1.3em;
}

.col .kanan-atas
{
    background-image: url("foto/pexels-lukas-574070.jpg");
    background-size: cover;
    background-position: center;
    font-size: 1.3em;
}

.col .kiri-bawah
{
    background-image: url("foto/pexels-pixabay-51191.jpg");
    background-size: cover;
    background-position: center;
    font-size: 1.3em;
    align-items: center;
}

.tulisan
{
   position: relative;
   top: 25%;
   bottom: 25%;
}

footer
{
    padding: 5em;
    background-color: rgb(200, 200, 200);
}

.foothead h2
{
    vertical-align: top;
}

.emot img
{
    width: 30px;
    border: 0;
    margin: 25px 10px;
    padding: 10px;
}
